<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>mcbQuery</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vue-select.css">
    <link rel="stylesheet" href="assets/css/cust-Checkbox.css">
    <link rel="stylesheet" href="assets/css/hovers.css">
    <link rel="stylesheet" href="assets/css/misc.css">
    <link rel="stylesheet" href="assets/css/subViewer.css">
</head>

<body class="justify-content-end">
    <nav class="navbar navbar-expand-md bg-body">
        <div class="container-fluid"><a class="navbar-brand" href="#">主页</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#">数据检索</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">贡献数据</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">自动设计</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- Start: 2 Rows 1+2 Columns -->
    <div class="container" style="padding-left: 0px;">
        <!-- Start: banner -->
        <div class="row" style="padding-top: 0px;margin-top: 20px;">
            <!-- Start: title -->
            <div class="col-md-12 col-lg-8 col-xl-7" style="padding-top: 0px;margin-top: 0px;margin-left: 0px;padding-left: 12px;width: 750px;">
                <h1 style="font-size: 50px;margin-left: 0px;margin-bottom: 0px;padding-right: 0px;margin-right: 0px;padding-top: 0px;margin-top: 0px;"><strong>Meta Cell Bases 数据检索</strong></h1><button class="btn btn-primary" type="button" style="font-size: 12px;margin-left: 0px;margin-top: 5px;padding: 2px 5px;background: var(--bs-gray-200);color: rgb(0,0,0);border-width: 2.5px;border-color: var(--bs-emphasis-color);">我应该如何使用它？</button>
            </div><!-- End: title -->
            <!-- Start: global unit select -->
            <div class="col-lg-2 col-xl-4 flex-grow-1" id="globalSet">
                <!-- Start: wavelength unit select -->
                <div class="row" style="padding: 6px 2px;">
                    <div class="col d-lg-flex justify-content-lg-end" style="display: flex;"><span class="d-lg-flex align-items-lg-center" style="font-size: 17px;">频率单位：</span><select style="border-radius: 7px;padding: 2px 3px;border-width: 2px;width: 90px;" v-model.number="global.freqUnit" v-on:change="updateGlobal">
                            <optgroup label="请选择">
                                <option value="1">PHz</option>
                                <option value="2" selected="">THz</option>
                                <option value="3">GHz</option>
                                <option value="4">MHz</option>
                            </optgroup>
                        </select></div>
                </div><!-- End: wavelength unit select -->
                <!-- Start: geometric unit select -->
                <div class="row" style="padding: 6px 2px;">
                    <div class="col d-lg-flex justify-content-lg-end" style="display: flex;"><span class="d-lg-flex align-items-lg-center" style="font-size: 17px;">几何单位：</span><select style="border-radius: 7px;padding: 2px 3px;border-width: 2px;width: 90px;" v-model.number="global.geometricUnit" v-on:change="updateGlobal">
                            <optgroup label="请选择">
                                <option value="1" selected="">nm</option>
                                <option value="2">um</option>
                                <option value="3">mm</option>
                            </optgroup>
                        </select></div>
                </div><!-- End: geometric unit select -->
                <!-- Start: use Radian/Angle system -->
                <div class="row" style="padding: 6px 2px;">
                    <div class="col d-lg-flex justify-content-lg-end" style="text-align: left;">
                        <div class="form-check" v-on:click="toggleRadians"><input class="form-check-input" type="checkbox" id="formCheck-1" style="border-width: 1px;border-color: var(--bs-emphasis-color);"><label class="form-check-label" for="formCheck-1">相位使用弧度制（默认单位π）</label></div>
                    </div>
                </div><!-- End: use Radian/Angle system -->
            </div><!-- End: global unit select -->
        </div><!-- End: banner -->
        <hr style="margin-top: 0px;"><!-- Start: main section -->
        <div class="row" style="margin-top: 20px;width: 100%;">
            <!-- Start: shape select -->
            <div class="col-md-6 col-lg-4 col-xxl-3" id="shapeSearchSet" style="width: 25%;" :style="{ minHeight: minHeight + 'px' }">
                <!-- Start: sub viewer -->
                <div>
                    <!-- Start: interaction blocker -->
                    <div class="modal-overlay" v-if="showSub" v-on:click="closeSub"></div><!-- End: interaction blocker -->
                    <!-- Start: sub viewer -->
                    <div class="subViewer" v-if="showSub">
                        <!-- Start: sub header -->
                        <div class="subHeader">
                            <div><span>{{ crrShape.name }}</span><span>的特殊参数信息详情</span></div><button class="btn btn-primary hover-red" type="button" v-on:click="closeSub" style="font-size: 20px;">×</button>
                        </div><!-- End: sub header -->
                    </div><!-- End: sub viewer -->
                </div><!-- End: sub viewer --><span class="d-xxl-flex align-items-xxl-center" style="font-size: 19px;display: inline-block;padding-top: 0px;margin-top: 0px;margin-bottom: 0px;"><strong>添加需要检索的形状:&nbsp;</strong><button class="btn btn-primary d-inline-block hover-cyan" id="addShapeBtn" type="button" style="height: auto;margin: 0px 0px 0px 5px;padding: 1px 8px;font-size: 10px;color: green;background: var(--vs-search-input-bg);border-width: 2px;border-color: green;" v-on:click="addAllShape"><strong>添加全部</strong></button></span><!-- Start: add shape -->
                <div class="row" style="display: flex;padding-left: 0px;width: 100%;margin: 10px -12px;">
                    <div class="col d-xl-flex align-items-xxl-center" style="border-radius: 6px;margin: 0px 0px 0px 12px;margin-left: 12px;margin-top: 0px;padding-top: 1px;padding-bottom: 1px;padding-right: 1px;padding-left: 2px;border: 1.6px solid var(--bs-blue);margin-right: 0px;width: 90%;height: auto;"><v-select 
    v-model="selectedShape"
    :options="shapeOptions" 
    placeholder="请选择形状"
    label = "name"
    style="
        width: 62%;
        font-size: 16px;"
></v-select><button class="btn btn-primary link-primary text-bg-light hover-cyan" id="addShapeBtn-1" type="button" style="height: auto;margin: 0px 0px 0px 5px;padding: 1px 8px;width: 35%;border-width: 2px;" v-on:click="addShape"><strong>确认添加</strong></button></div>
                </div><!-- End: add shape -->
                <!-- Start: tips banner -->
                <div style="margin-top: 25px;">
                    <p style="margin-bottom: 0px;font-size: 19px;margin-top: 0px;"><strong>计划在以下形状中检索：</strong></p>
                    <hr style="margin: 0px;background: var(--bs-emphasis-color);opacity: 1;border-width: 3px;">
                    <p class="fw-light" style="font-size: 14px;margin-bottom: 20px;">(单击列表中标签显示详情信息)</p>
                </div><!-- End: tips banner -->
                <ul class="list-unstyled" id="shapeList">
                    <li style="height: auto;border-radius: 0px 7px 28px 0px;width: 100%;font-size: 20px;transform: translate(0px);margin-bottom: 18px;display: flex;" :key="index" v-for="(shape, index) in selectedShapeGroup"><button class="btn btn-primary d-xxl-flex align-items-xxl-center" style="height: auto;width: 70%;border-radius: 28px 0px 0px 12px;color: var(--bs-emphasis-color);background: #f5f6f7;text-align: left;padding-left: 19px;margin-left: 0px;" v-on:click="openSub(index)">{{ shape.name }}</button><button class="btn btn-primary d-xxl-flex justify-content-xxl-start align-items-xxl-center hover-red" type="button" style="height: auto;border-radius: 0px 12px 28px 0px;width: 45px;font-size: 20px;transform: translate(0px);" v-on:click="rmShape(index)"><strong>×</strong></button></li>
                </ul>
                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="height: 30vh;width: 90%;background: #d9d9d9;opacity: 1;" v-if="selectedShapeGroup.length == 0"><span class="fs-5" style="color: #888;"><strong>请至少在一种形状中查找</strong></span></div>
            </div><!-- End: shape select -->
            <!-- Start: generic params select -->
            <div class="col" id="genericParamSet" style="width: 37.5%;display: flex;">
                <!-- Start: vertical line -->
                <div style="width: 1px;height: 100%;background: #c7c8c9;margin-left: 20px;margin-right: 20px;"></div><!-- End: vertical line -->
                <div class="flex-grow-1" style="width: 100%;">
                    <div class="d-xl-flex justify-content-xl-start align-items-xl-center" style="display: flex;"><span style="font-size: 28px;display: inline;"><strong>通用参数检索条件:</strong></span><button class="btn btn-primary link-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center hover-cyan" id="addGeneric" type="button" style="height: auto;margin-left: 10px;margin-top: 0px;padding-top: 0px;padding-bottom: 0px;width: 100px;margin-right: -1px;border-width: 2px;background: var(--bs-btn-disabled-color);display: inline;" v-on:click="addGeneric"><strong>添加条件</strong></button></div>
                    <hr style="margin: 0px;background: var(--bs-emphasis-color);opacity: 1;border-width: 3px;margin-bottom: 23px;">
                    <ul class="list-unstyled">
                        <li v-for="(conditions, index) in genericGroup" :key="index">
                            <div class="input-group" style="padding-top: 0px;display: flex;width: 100%;margin-top: 0px;margin-bottom: 20px;"><select class="form-select" style="width: 18%;border-radius: 10px 0px 0px 0px;padding: 6px 36px 6px 9px;" v-model.number="conditions.logic" :class="{'strikethrough': index === 0}" v-on:change="updateGeneric">
                                    <optgroup label="选择逻辑">
                                        <option value="1">AND</option>
                                        <option value="2">OR</option>
                                    </optgroup>
                                </select><select class="form-select" style="width: 33%;" v-model.number="conditions.parameter" v-on:change="updateDisp(index)">
                                    <optgroup label="选择通用参数">
                                        <option value="1">单元结构材料</option>
                                        <option value="2">基底材料</option>
                                        <option value="3">单元结构周期(p)</option>
                                        <option value="4">单元结构高度(h)</option>
                                        <option value="5">基底厚度（h1)</option>
                                    </optgroup>
                                </select>
                                <div class="input-group-text" :class="['custom-checkbox', conditions.isInvert ? 'Invert' : 'unInvert']" v-on:click="toggleInvert(index)" style="width: 10%;padding: 4px 0;"><span>{{ conditions.isInvert ? '反相' : '同相' }}</span></div><select class="form-select" style="width: 27%;" v-model.number="conditions.rangeMode" v-if="conditions.showRange" v-on:change="updateDisp(index)">
                                    <optgroup label="范围模式">
                                        <option value="1">≥</option>
                                        <option value="2">≤</option>
                                        <option value="3">＝</option>
                                        <option value="4">BETWEEN</option>
                                    </optgroup>
                                </select><button class="btn btn-primary hover-red" id="rmGeneric" type="button" style="font-size: 16px;" v-on:click="rmGeneric(index)"><strong>×</strong></button><!-- Start: new line -->
                                <div class="input-group-text w-100" style="margin: 0px;padding: 0px;height: 0px;"></div><!-- End: new line -->
                                <!-- Start: range setting -->
                                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center input-group-text w-100" style="border-radius: 0px 0px 10px 0px;height: 43.3333px;" v-if="conditions.dispSwitch == 1"><input type="number" style="margin: 0px 5px;text-align: center;width: 38%;" v-model.number="conditions.rangeStart" v-on:change="updateGeneric"><span style="margin: 0px 5px;">≤</span><span style="margin: 0px 5px;">{{ genericArr[conditions.parameter-3] }}</span><span style="margin: 0px 5px;">≤</span><input type="number" style="margin: 0px 5px;text-align: center;width: 38%;" v-model.number="conditions.rangeEnd" v-on:change="updateGeneric"></div><!-- End: range setting -->
                                <!-- Start: range setting -->
                                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center input-group-text w-100" style="border-radius: 0px 0px 10px 0px;height: 43.3333px;" v-if="conditions.dispSwitch == 2">
                                    <!-- Start: placeholder -->
                                    <div style="height: 100%;width: 25%;"></div><!-- End: placeholder --><span style="margin: 0px 5px;">{{ genericArr[conditions.parameter-3] }}</span><span style="margin: 0px 5px;">{{ symsArr[conditions.rangeMode-1] }}</span><input type="number" style="margin: 0px 5px;text-align: center;width: 38%;" v-model.number="conditions.value" v-on:change="updateGeneric"><!-- Start: placeholder -->
                                    <div style="height: 100%;width: 25%;"></div><!-- End: placeholder -->
                                </div><!-- End: range setting -->
                                <!-- Start: range setting -->
                                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center input-group-text w-100" style="border-radius: 0px 0px 10px 0px;height: 43.3333px;" v-if="conditions.dispSwitch == 3"><v-select 
    v-model="conditions.selectedMaterial"
    v-on:input="updateGeneric"
    :options="materialOptions"
    :reduce="material => material.id"
    placeholder="请选择材料" 
    label="name"
    style="
        display: block;
        width: 100%"
></v-select></div><!-- End: range setting -->
                            </div>
                        </li>
                    </ul>
                    <div class="d-xxl-flex justify-content-xxl-end"><button class="btn btn-primary link-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center hover-cyan" id="addGeneric-1" type="button" style="height: auto;margin-left: 10px;margin-top: 0px;padding-top: 0px;padding-bottom: 0px;margin-right: -1px;border-width: 2px;background: var(--bs-btn-disabled-color);display: inline;" v-on:click="addGeneric"><strong>+</strong></button></div>
                </div>
            </div><!-- End: generic params select -->
            <!-- Start: freq response select -->
            <div class="col" id="freqParamSet" style="width: 37.5%;display: flex;">
                <!-- Start: vertical line -->
                <div style="width: 1px;height: 100%;background: #c7c8c9;margin-left: 20px;margin-right: 20px;"></div><!-- End: vertical line -->
                <div class="flex-grow-1">
                    <div class="d-xl-flex justify-content-xl-start align-items-xl-center" style="display: flex;"><span style="font-size: 28px;display: inline;"><strong>频率响应检索条件:</strong></span><button class="btn btn-primary link-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center hover-cyan" id="addFreq" type="button" style="height: auto;margin-left: 10px;margin-top: 0px;padding-top: 0px;padding-bottom: 0px;width: 100px;margin-right: -1px;border-width: 2px;background: var(--bs-btn-disabled-color);display: inline;" v-on:click="addFreq"><strong>添加条件</strong></button></div>
                    <hr style="margin: 0px 0px 23px 0px;background: var(--bs-emphasis-color);opacity: 1;border-width: 3px;">
                    <ul class="list-unstyled">
                        <li v-for="(conditions, index) in freqGroup" :key="index">
                            <div class="input-group" style="padding-top: 0px;display: flex;width: 100%;margin-top: 0px;margin-bottom: 20px;"><select class="form-select" style="width: 18%;border-radius: 10px 0px 0px 0px;padding: 6px 36px 6px 9px;" v-model.number="conditions.logic" :class="{'strikethrough': index === 0}" v-on:change="updateFreq">
                                    <optgroup label="选择逻辑">
                                        <option value="1">AND</option>
                                        <option value="2">OR</option>
                                    </optgroup>
                                </select><select class="form-select" style="width: 33%;" v-model.number="conditions.parameter" v-on:change="updateDisp(index)">
                                    <optgroup label="选择频率响应参数">
                                        <option value="1">S参数(S-Parameter)</option>
                                        <option value="2">入射场角(垂直入射为0°)</option>
                                        <option value="3">频率(Frequency)</option>
                                        <option value="4">振幅/衰减(Magnitude)</option>
                                        <option value="5">相位(Phase)</option>
                                        <option value="6">色散(Dispersion)</option>
                                    </optgroup>
                                </select>
                                <div class="input-group-text" :class="['custom-checkbox', conditions.isInvert ? 'Invert' : 'unInvert']" v-on:click="toggleInvert(index)" style="width: 10%;padding: 4px 0;"><span>{{ conditions.isInvert ? '反相' : '同相' }}</span></div><select class="form-select" style="width: 27%;" v-model.number="conditions.rangeMode" v-if="conditions.showRange" v-on:change="updateDisp(index)">
                                    <optgroup label="范围模式">
                                        <option value="1">≥</option>
                                        <option value="2">≤</option>
                                        <option value="3">＝</option>
                                        <option value="4">BETWEEN</option>
                                    </optgroup>
                                </select><button class="btn btn-primary hover-red" id="rmGeneric-1" type="button" style="font-size: 16px;" v-on:click="rmFreq(index)"><strong>×</strong></button><!-- Start: new line -->
                                <div class="input-group-text w-100" style="margin: 0px;padding: 0px;height: 0px;"></div><!-- End: new line -->
                                <!-- Start: range setting -->
                                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center input-group-text w-100" style="border-radius: 0px 0px 10px 0px;height: 43.3333px;" v-if="conditions.dispSwitch == 1"><input type="number" style="margin: 0px 5px;text-align: center;width: 38%;" v-model.number="conditions.rangeStart" v-on:change="updateFreq"><span style="margin: 0px 5px;">≤</span><span style="margin: 0px 5px;">{{ freqArr[conditions.parameter-2] }}</span><span style="margin: 0px 5px;">≤</span><input type="number" style="margin: 0px 5px;text-align: center;width: 38%;" v-model.number="conditions.rangeEnd" v-on:change="updateFreq"></div><!-- End: range setting -->
                                <!-- Start: range setting -->
                                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center input-group-text w-100" style="border-radius: 0px 0px 10px 0px;height: 43.3333px;" v-if="conditions.dispSwitch == 2">
                                    <!-- Start: placeholder -->
                                    <div style="height: 100%;width: 25%;"></div><!-- End: placeholder --><span style="margin: 0px 5px;">{{ freqArr[conditions.parameter-2] }}</span><span style="margin: 0px 5px;">{{ symsArr[conditions.rangeMode-1] }}</span><input type="number" style="margin: 0px 5px;text-align: center;width: 38%;" v-model.number="conditions.value" v-on:change="updateFreq"><!-- Start: placeholder -->
                                    <div style="height: 100%;width: 25%;"></div><!-- End: placeholder -->
                                </div><!-- End: range setting -->
                                <!-- Start: range setting -->
                                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center input-group-text w-100" style="border-radius: 0px 0px 10px 0px;height: 43.3333px;" v-if="conditions.dispSwitch == 3"><v-select 
    v-model="conditions.selectedSparam" 
    v-on:input="updateFreq"
    :options="sparamsOptions"
    :reduce="sparam => sparam.id"
    placeholder="请选择S参数" 
    label="name"
    style="
        display: block;
        width: 100%"
></v-select></div><!-- End: range setting -->
                            </div>
                        </li>
                    </ul>
                    <div class="d-xxl-flex justify-content-xxl-end"><button class="btn btn-primary link-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center hover-cyan" type="button" style="height: auto;margin-left: 10px;margin-top: 0px;padding-top: 0px;padding-bottom: 0px;margin-right: -1px;border-width: 2px;background: var(--bs-btn-disabled-color);display: inline;" v-on:click="addFreq" id="addGeneric-2"><strong>+</strong></button></div>
                </div>
            </div><!-- End: freq response select -->
        </div><!-- End: main section -->
        <!-- Start: options -->
        <div class="row" id="options">
            <div class="col">
                <!-- Start: reset confirm -->
                <div>
                    <!-- Start: interaction blocker -->
                    <div class="modal-overlay" v-if="showConfirm" v-on:click="cancelReset"></div><!-- End: interaction blocker -->
                    <!-- Start: reset confirm -->
                    <div class="reset-confirm" v-if="showConfirm">
                        <!-- Start: reset confirm header -->
                        <div class="d-xxl-flex justify-content-xxl-end"><button class="btn btn-primary" type="button" v-on:click="cancelReset" style="font-size: 20px;">×</button></div><!-- End: reset confirm header -->
                        <!-- Start: tips span --><span class="tips-span" style="font-size: 20px;width: 100%;position: absolute;"><strong>真的要<span style="color: rgb(255, 15, 0);">重置</span>当前页面的所有内容吗？</strong></span><!-- End: tips span -->
                        <div class="reset-confirm-buttons" style="text-align: right;position: absolute;padding: 10px;"><button class="btn btn-primary" type="button" v-on:click="cancelReset">取消</button><button class="btn btn-secondary hover-red" type="button" style="margin: 0px 15px;" v-on:click="resetAll">确认重置</button></div>
                    </div><!-- End: reset confirm -->
                </div><!-- End: reset confirm -->
                <div style="width: 100%;padding: 0px 45px;margin: 15px 0px;display: block;">
                    <!-- Start: tools download page -->
                    <div class="d-xxl-flex justify-content-xxl-end" style="width: 100%;"><a href="#">👉 下载函数以将结果导入到其他分析工具</a></div><!-- End: tools download page -->
                    <!-- Start: buttons -->
                    <div style="width: 100%;">
                        <!-- Start: row1 -->
                        <div class="d-xxl-flex justify-content-xxl-end" style="margin: 10px 0px;width: 100%;"><input type="file" id="fileInput" style="display: none;" accept=".json" v-on:change="handlePresetFile"><button class="btn btn-primary text-center" type="file" style="background: var(--bs-btn-disabled-color);color: rgb(13,110,253);font-weight: bold;border-width: 2px;width: 200px;" accept=".json" v-on:click="triggerFileInput"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-upload">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
                                </svg>&nbsp; 上载预设配置</button><button class="btn btn-primary text-center" type="button" style="background: var(--bs-btn-disabled-color);color: rgb(13,110,253);font-weight: bold;border-width: 2px;margin-left: 55px;width: 200px;" v-on:click="confirmReset">重置所有</button></div><!-- End: row1 -->
                        <!-- Start: row2 -->
                        <div class="d-xxl-flex justify-content-xxl-end" style="margin: 10px 0px;width: 100%;"><button class="btn btn-primary text-center" type="button" style="background: var(--bs-btn-disabled-color);color: rgb(13,110,253);font-weight: bold;border-width: 2px;width: 200px;" v-on:click="saveCurrent"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-download">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                                </svg>&nbsp; 保存当前配置</button><button class="btn btn-primary text-center" type="button" style="background: var(--bs-btn-border-color);color: var(--bs-btn-disabled-color);font-weight: bold;margin-left: 55px;width: 200px;border-width: 2px;border-color: var(--bs-body-color);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-database-fill-down">
                                    <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0ZM8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1"></path>
                                    <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12.31 12.31 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7m6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.552 4.552 0 0 1 .23-2.002m-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.507 4.507 0 0 1-1.3-1.905"></path>
                                </svg>&nbsp; 提交并下载检索结果</button></div><!-- End: row2 -->
                    </div><!-- End: buttons -->
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="height: 50px;width: 50px;position: fixed;transform: perspective(0px);right: 0px;top: 61.8%;background: var(--bs-blue);border-radius: 50%;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-baseline-density-medium fs-5 text-light">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 20h16"></path>
                            <path d="M4 12h16"></path>
                            <path d="M4 4h16"></path>
                        </svg></div>
                </div>
            </div>
        </div><!-- End: options -->
    </div><!-- End: 2 Rows 1+2 Columns -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="assets/js/options.js"></script>
    <script src="assets/js/shapeSearchSet.js"></script>
    <script src="assets/js/zfreqSet.js"></script>
    <script src="assets/js/zgenericSet.js"></script>
    <script src="assets/js/zglobalSet.js"></script>
</body>

</html>